*{
  margin: 0;
  padding: 0;
  
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container_card{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.badge{
  width: 13rem;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}